@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<p style="color:red;font-weight:bold;font-size:30px">
     @Html.ActionLink("ADD PRODUCT", "Create","Admin")  

</p>
 
<table class="table table-bordered" style="text-align:center">
    <thead class="thead-dark">
    <tr>
        <th>ID PRODUCT</th>
        <th>PRODUCT</th>
        <th>IMAGE</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
        <th>DELETE</th>
        <th>EDIT</th>
    </tr>
    @foreach (var item in Model)
    { 
        <tr>
            <th scope="col" >
                @item.MaSP
            </th>
            <th scope="col">
                @item.TenSP
            </th>
            <th scope="col">
                <img src="~/Content/Image/@item.Hinh " width="250px" height="250px" />
            </th>
            <th scope="col">
                @item.Gia<a> VNĐ</a>
            </th>
            <th scope="col">
                @item.MoTa
            </th>
            
             <th scope="col">
                 @Html.ActionLink("DELETE", "Delete", new { ms = item.MaSP})
            </th>
            <th scope="col">
                 @Html.ActionLink("EDIT", "Edit", new { ms = item.MaSP})
            </th>
        </tr>
    
    }
        </thead>
</table>
